.pagination-holder{
    
    background-color: blue;
    color: white;

}

.page-number{
    display: inline-block;
    padding: 5px;
    /* width: 20px; */
}

.page-number-holder{
    display: inline-block;
    padding-top: 15px;
}

.page-number-outline{
    display: inline-block;
}

.page-number-outline:hover{
    border: 1px solid rgb(201, 201, 201);
    border-radius: 3px;
}

.outline-glow{
    border: 1px solid orange;
    box-shadow: 0 0 5px 1px black;
    border-radius: 3px;

}